*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color:#fff;
    font-family: 'Gotham Pro', 'Arial',sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #000;
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold;    
}

h1,h2{
    font-size: 40px;
    line-height: 120%;
}

a{
    color: #59BBF2;
    font-size: 12px;
    text-decoration: none;
    padding: 5px;
}

a:hover{
    text-decoration: underline;

}

a:focus{
    outline: #59BBF2 solid 1px;

}

a:active{
    background: rgba(255,0,0,.5);
}
/*-----------------Header---------------------------*/
.header__video{
    position: absolute;
    right: 0;
    top: 0;
    height: 689px;
    z-index: -100;
    overflow: hidden;
}

.header__wrapper{
    width: 1200px;
    margin: 0 auto;
    border: 1px solid black;
}

.header{
    background: url('../img/fon-mask.png') no-repeat top right;
    min-height: 750px;
}

.navbar{
    height: 60px;
    margin-top: 60px;
    background-color: gray;
}
.header__content{
    width: 509px;
    height: 208px;
    background-color: gray;
    margin-top: 204px;
    margin-bottom: 235px;
}


/*section-------------------*/
.section__wrapper{
    width: 1200px;
    margin: 0 auto;
    border: 1px solid black;
    position: relative;
}
/*----products-------*/
.products .section__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 64px;
    padding-bottom: 68px;
}

.products__item{
    width: 380px;
    height: 398px;
    background-color: grey;
}
/*----------Advantages--------------*/
.advant__list{
    display: flex;
    flex-wrap: wrap;
    
    
}
.advantage__item{
    width: 376px;
    height: 102px;
    background-color: grey;
}
/*----------Samples-----------*/
.samples .slider__list{
    height: 278px;
    background-color: gray;
}

.slider__button{
    position: absolute;
    top: 50%;
}

.slider__button--prev{
    left: -50px;
}
.slider__button--next{
    right: -50px;
}

